.bet-button {
  color: inherit;
  background: transparent;
  border: 1px solid currentColor;
  padding: 12px 32px;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 1;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-underline-offset: 3px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 235px;
  font-style: normal;
  text-underline-offset: 3px;
}

.header__address {
  justify-self: end;
}

.cover {
  position: relative;
  padding: 165px 50px 50px;
  background: url("../images/cover.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  gap: 106px;
  color: white;
}

.cover__title {
  font-size: 100px;
  line-height: 1.15;
  text-transform: uppercase;
  z-index: 2;
}
.cover__title-line {
  display: block;
  margin-bottom: 20px;
  letter-spacing: 0.3em;
}

.cover__title-line:last-child {
  margin-bottom: 0;
}

.cover__title-line_left {
  text-align: left;
}

.cover__title-line_center {
  text-align: center;
}

.cover__title-line_right {
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  align-items: center;
  gap: 107px;
  z-index: 2;
}

.cover__description-text {
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
  word-spacing: 18px;
}

.lots {
  padding: 180px 24px 120px;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  margin: 0 0 27px 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  flex-grow: 1;
}

.card-link {
  text-decoration: none;
  color: inherit;
  height: 100%;
  display: block;
}

.card {
  position: relative;
  padding: 48px 40px;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title,
.card__text {
  position: relative;
  z-index: 2;
  color: #fff;
}

.card__title {
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  font-size: 20px;
  margin-top: 30px;
  line-height: 1.2;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  padding-left: 32px;
  text-decoration: underline;
  text-underline-offset: 5px;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 72px;
  padding: 33px 24px 180px 71px;
}


.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 101px;
}

.about__text {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 50px 82px;
  font-size: 18px;
}

.footer__menu {
  justify-self: center;
}
.footer__address {
  max-width: 265px;
}
.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  justify-self: end;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
